Flask>=0.10
SQLAlchemy>=1.1.0b3
psycopg2>=2.6
Flask-SQLAlchemy>=2.1
Flask-RESTful>=0.3.5
Flask-Admin>=1.4.0
Flask-Uploads>=0.2.0
Flask-Caching>=1.0.0
Flask-Security>=1.7.5
Flask-Script>=2.0.5
requests>=2.9.1
numpy>=1.10.4
matplotlib>=1.5.1
ase>=3.11.0
click>=6.6
celery>=3.1.23
redis>=2.10.5
